#text{
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 300px;
    text-align: center;
    background-color: black;
    color: aliceblue;
    border-radius: 50px;
    border: 1px solid white;
    font-size: large;
    margin-top: 50px;
}
#btn{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 250px;
    background-color: blue;
    color: aliceblue;
    border-radius: 50px;
    font-size: larger;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;

}